section.discount
	.discount_and_gifts.container-fluid.d-flex
		h3 ПОЛУЧАЙТЕ СКИДКИ И ПОДАРКИ
		.subscription
			input(type="email" placeholder="Ваш e-mail")
			a.button.subscribe подписаться
	h2 скидки до 90%
	.container
		.new_model.d-flex
			.new_model__item.col-xl-3.col-lg-6.col-md-6.col-sm-12.col-xs-12
				svg(viewbox='0 0 255 350')
					line(x1='0' y1='1.5' x2='25' y2='1.5')
					line(x1='230' y1='1.5' x2='255' y2='1.5')
					line(x1='255' y1='0' x2='255' y2='25')
					line(x1='255' y1='325' x2='255' y2='350')
					line(x1='255' y1='348.5' x2='230' y2='348.5')
					line(x1='25' y1='348.5' x2='0' y2='348.5')
					line(x1='0' y1='350' x2='0' y2='325')
					line(x1='0' y1='25' x2='0' y2='0')
				img(src="./img/dress.svg", alt="")
				.text коктейльное<br> платье
				p &#8381; 40 000
			.new_model__item.col-xl-3.col-lg-6.col-md-6.col-sm-12.col-xs-12
				svg(viewbox='0 0 255 350')
					line(x1='0' y1='1.5' x2='25' y2='1.5')
					line(x1='230' y1='1.5' x2='255' y2='1.5')
					line(x1='255' y1='0' x2='255' y2='25')
					line(x1='255' y1='325' x2='255' y2='350')
					line(x1='255' y1='348.5' x2='230' y2='348.5')
					line(x1='25' y1='348.5' x2='0' y2='348.5')
					line(x1='0' y1='350' x2='0' y2='325')
					line(x1='0' y1='25' x2='0' y2='0')
				img(src="./img/dress.svg", alt="")
				.text коктейльное<br> платье
				p &#8381; 40 000
			.new_model__item.col-xl-3.col-lg-6.col-md-6.col-sm-12.col-xs-12
				svg(viewbox='0 0 255 350')
					line(x1='0' y1='1.5' x2='25' y2='1.5')
					line(x1='230' y1='1.5' x2='255' y2='1.5')
					line(x1='255' y1='0' x2='255' y2='25')
					line(x1='255' y1='325' x2='255' y2='350')
					line(x1='255' y1='348.5' x2='230' y2='348.5')
					line(x1='25' y1='348.5' x2='0' y2='348.5')
					line(x1='0' y1='350' x2='0' y2='325')
					line(x1='0' y1='25' x2='0' y2='0')
				img(src="./img/dress.svg", alt="")
				.text коктейльное<br> платье
				p &#8381; 40 000
			.new_model__item.col-xl-3.col-lg-6.col-md-6.col-sm-12.col-xs-12
				svg(viewbox='0 0 255 350')
					line(x1='0' y1='1.5' x2='25' y2='1.5')
					line(x1='230' y1='1.5' x2='255' y2='1.5')
					line(x1='255' y1='0' x2='255' y2='25')
					line(x1='255' y1='325' x2='255' y2='350')
					line(x1='255' y1='348.5' x2='230' y2='348.5')
					line(x1='25' y1='348.5' x2='0' y2='348.5')
					line(x1='0' y1='350' x2='0' y2='325')
					line(x1='0' y1='25' x2='0' y2='0')
				img(src="./img/dress.svg", alt="")
				.text коктейльное<br> платье
				p &#8381; 40 000
			a.button.all_models все модели
				img(src="./img/arrow.svg", alt="")