.collection
	display: grid
	grid-template-columns: 1fr 1fr
	background: $gray
	&_male
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: flex-end
		background: $cream
	&_block
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		margin: 0px
		padding: 0px 15px 0px 35px
		img
			align-self: flex-end
	&_info
		padding: 60px 0px
		a.button_more.button
			width: 80px
			height: 30px
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			margin-top: 40px
			padding: 0px
			justify-content: center
			img
				align-self: center
		h4
			margin-bottom: 25px
			span
				font-weight: normal
