section.production
	.collection
		.collection_male
			.collection_block
				.collection_info
					h4 мужская
						span 
							| коллекция 
					| Обувь, полуверы, костюмы
					a.button.button_more
						img(src="./img/arrow.svg", alt="")
				img(src="./img/man.svg", alt="")
		.collection_female
			.collection_block
				.collection_info
					h4 женская
						span 
							| коллекция 
					| Обувь, полуверы, костюмы
					a.button.button_more
						img(src="./img/arrow.svg", alt="")
				img(src="./img/woman.svg", alt="")
	.container
		.catalog
			.catalog_row-1.catalog_row
				.catalog_item
					.name платья
				.catalog_item
					.name платья
				.catalog_item
					.name платья
				.catalog_item
					.name платья
			.catalog_row-2.catalog_row
				.catalog_item
					.name платья
				.catalog_item
					.name платья
				.catalog_item
					.name платья
				.catalog_item
					.name платья