section.production
	.collection
		.collection_male
			.collection_block
				.collection_info
					h4 мужская
						span 
							| коллекция 
					| Обувь, полуверы, костюмы
					a.button.button_more
						img(src="./img/arrow.svg", alt="")
				img(src="./img/man.svg", alt="")
		.collection_female
			.collection_block
				.collection_info
					h4 женская
						span 
							| коллекция 
					| Обувь, полуверы, костюмы
					a.button.button_more
						img(src="./img/arrow.svg", alt="")
				img(src="./img/woman.svg", alt="")
	.container
		.catalog
			.catalog_row-1.catalog_row
				.catalog_item.col-lg-3.col-sm-6.col-xs-12
					.name платья
					img(src="./img/dress1.svg", alt="")
				.catalog_item.col-lg-3.col-sm-6.col-xs-12
					.name платья
					img(src="./img/dress2.svg", alt="")
				.catalog_item.col-lg-3.col-sm-6.col-xs-12
					.name платья
					img(src="./img/dress1.svg", alt="")
				.catalog_item.col-lg-3.col-sm-6.col-xs-12
					.name платья
					img(src="./img/dress2.svg", alt="")
			.catalog_row-2.catalog_row
				.catalog_item.col-lg-3.col-sm-6.col-xs-12
					.name платья
					img(src="./img/dress2.svg", alt="")
				.catalog_item.col-lg-3.col-sm-6.col-xs-12
					.name платья
					img(src="./img/dress1.svg", alt="")
				.catalog_item.col-lg-3.col-sm-6.col-xs-12
					.name платья
					img(src="./img/dress2.svg", alt="")
				.catalog_item.col-lg-3.col-sm-6.col-xs-12
					.name платья
					img(src="./img/dress1.svg", alt="")
	h2 новые модели
	.container
		.new_model.d-flex
			.new_model__item.col-xl-3.col-lg-6.col-md-6.col-sm-12.col-xs-12
				svg(viewbox='0 0 255 350')
					line(x1='0' y1='1.5' x2='25' y2='1.5')
					line(x1='230' y1='1.5' x2='255' y2='1.5')
					line(x1='255' y1='0' x2='255' y2='25')
					line(x1='255' y1='325' x2='255' y2='350')
					line(x1='255' y1='348.5' x2='230' y2='348.5')
					line(x1='25' y1='348.5' x2='0' y2='348.5')
					line(x1='0' y1='350' x2='0' y2='325')
					line(x1='0' y1='25' x2='0' y2='0')
				img(src="./img/dress.svg", alt="")
				.text коктейльное<br> платье
				p &#8381; 40 000
			.new_model__item.col-xl-3.col-lg-6.col-md-6.col-sm-12.col-xs-12
				svg(viewbox='0 0 255 350')
					line(x1='0' y1='1.5' x2='25' y2='1.5')
					line(x1='230' y1='1.5' x2='255' y2='1.5')
					line(x1='255' y1='0' x2='255' y2='25')
					line(x1='255' y1='325' x2='255' y2='350')
					line(x1='255' y1='348.5' x2='230' y2='348.5')
					line(x1='25' y1='348.5' x2='0' y2='348.5')
					line(x1='0' y1='350' x2='0' y2='325')
					line(x1='0' y1='25' x2='0' y2='0')
				img(src="./img/dress.svg", alt="")
				.text коктейльное<br> платье
				p &#8381; 40 000
			.new_model__item.col-xl-3.col-lg-6.col-md-6.col-sm-12.col-xs-12
				svg(viewbox='0 0 255 350')
					line(x1='0' y1='1.5' x2='25' y2='1.5')
					line(x1='230' y1='1.5' x2='255' y2='1.5')
					line(x1='255' y1='0' x2='255' y2='25')
					line(x1='255' y1='325' x2='255' y2='350')
					line(x1='255' y1='348.5' x2='230' y2='348.5')
					line(x1='25' y1='348.5' x2='0' y2='348.5')
					line(x1='0' y1='350' x2='0' y2='325')
					line(x1='0' y1='25' x2='0' y2='0')
				img(src="./img/dress.svg", alt="")
				.text коктейльное<br> платье
				p &#8381; 40 000
			.new_model__item.col-xl-3.col-lg-6.col-md-6.col-sm-12.col-xs-12
				svg(viewbox='0 0 255 350')
					line(x1='0' y1='1.5' x2='25' y2='1.5')
					line(x1='230' y1='1.5' x2='255' y2='1.5')
					line(x1='255' y1='0' x2='255' y2='25')
					line(x1='255' y1='325' x2='255' y2='350')
					line(x1='255' y1='348.5' x2='230' y2='348.5')
					line(x1='25' y1='348.5' x2='0' y2='348.5')
					line(x1='0' y1='350' x2='0' y2='325')
					line(x1='0' y1='25' x2='0' y2='0')
				img(src="./img/dress.svg", alt="")
				.text коктейльное<br> платье
				p &#8381; 40 000
