nav.navbar.navbar-expand-xl.navbar-light
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    .navbar-nav.w-100
      .col-4.d-flex
        a#navbarDropdownMale.nav-item.dropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
          | Для мужчин
        .dropdown-menu(aria-labelledby='navbarDropdownMale')
          a.dropdown-item(href='#') Action
          a.dropdown-item(href='#') Another action
          a.dropdown-item(href='#') Something else here
        a#navbarDropdownFemale.nav-item.dropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
          | Для женщин
        .dropdown-menu(aria-labelledby='navbarDropdownFemale')
          a.dropdown-item(href='#') Action
          a.dropdown-item(href='#') Another action
          a.dropdown-item(href='#') Something else here
        a#navbarDropdownKids.nav-item.dropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
          | Для детей
        .dropdown-menu(aria-labelledby='navbarDropdownKids')
          a.dropdown-item(href='#') Action
          a.dropdown-item(href='#') Another action
          a.dropdown-item(href='#') Something else here
      a.col-4.nav-item.d-flex.justify-content-center.align-items-center.navbar-brand.mr-0(href='#')
        img(src='./img/logo.svg')
        | THE LOOP
      .col-2.d-flex
        a.nav-item.nav-link(href='#') Оплата
        a.nav-item.nav-link(href='#') Доставка
      .col-2.basket
        a.nav-item.nav-link(href='#').d-flex.justify-content-end
          img(src="./img/basket.svg", alt="")
          .counter 5

      
      
   
