footer
	nav
		.container.footer_nav
			.logo
				.logo_info
					img(src='./img/logo.svg')
					h4 THE LOOP
				.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla faucibus egestas elit, at eleifend elit ornare ut.
			.nav-bar
				.nav-item
					p Основные ссылки
					a О компании
					a Каталог
					a Доставка
					a Оплата
				.nav-item
					p категории
					a Мужская одежда
					a Женская одежда
					a Детская одежда
					a Для животных
				.nav-item
					p полезные ссылки
					a Таблица размеров
					a Блог о моде
					a Наша миссия
				.nav-item.social_media
					p соц сети
					a.vk VK.com
					a.fb Facebook
					a.inst Instagram
	.container
		.copyright
			span Copyright © 2019. Все права защищены
			span
				a Политика приватности