<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	title Document
body
	header
		include ./components/header/header
	include ./components/production/production
	include ./components/discount/discount
	include ./components/footer/footer